{% block form%}
    {{ form_start(form) }}
    <div style="margin-bottom: 1rem;">
        <div>
            <div>
                {{ form_errors(form.username) }}
            </div>
            <div>
                {{ form_label(form.username) }}
            </div>
            <div>
                {{ form_widget(form.username) }}
            </div>
            <small>{{ form_help(form.username) }}</small>
        </div>
        <div>
            <div>
                {{ form_errors(form.email) }}
            </div>
            <div>
                {{ form_label(form.email) }}
            </div>
            <div>
                {{ form_widget(form.email) }}
            </div>
            <small>{{ form_help(form.email) }}</small>
        </div>
        <div>
            <div>
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div>
                {{ form_label(form.plainPassword.first) }}
            </div>
            <div>
                {{ form_widget(form.plainPassword.first) }}
            </div>
            <small>{{ form_help(form.plainPassword.first) }}</small>
        </div>
        <div>
            <div>
                {{ form_errors(form.plainPassword.second) }}
            </div>
            <div>
                {{ form_label(form.plainPassword.second) }}
            </div>
            <div>
                {{ form_widget(form.plainPassword.second) }}
            </div>
            <small>{{ form_help(form.plainPassword.second) }}</small>
        </div>
        <div style="margin: 2rem 0;">
            <button class="btn btn-primary">{{ button_label|default('Registration') }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock form %}