{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <div class="list-group">
        {% for district in district  %}
            <a class="list-group-item" href="{{ path('district_show', {id: district.id}) }}">{{ district.districtName }}</a>
        {% endfor %}
    </div>
    <a href="{{ path('district_new') }}">Create new</a>
    <a href="{{ path('stores') }}">Back to Stores</a>
{% endblock %}
