{% block form%}
    {{ form_start(form) }}
    <div style="margin-bottom: 1rem;">
        <div>
            <div>
                {{ form_errors(form.categoryName) }}
            </div>
            <div>
                {{ form_label(form.categoryName) }}
            </div>
            <div>
                {{ form_widget(form.categoryName) }}
            </div>
            <small>{{ form_help(form.categoryName) }}</small>
        </div>
        <div>
            <div>
                {{ form_errors(form.parent) }}
            </div>
            <div>
                {{ form_label(form.parent) }}
            </div>
            <div>
                {{ form_widget(form.parent) }}
            </div>
            <small>{{ form_help(form.parent) }}</small>
        </div>
        <div style="margin: 2rem 0;">
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock form %}

