{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock title %}

{% block body %}
    <h2>{{ category.categoryName }}</h2>

    <div class="list-group">
        {% for product in category.products %}
            <div class="list-group-item">
                <a href="{{ path('product_show', {id: product.id}) }}">{{ product.productName }}</a>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('category_edit', {id: shop.id}) }}" class="card-link">Редактировать</a>
    <a href="{{ path('category') }}">back to list</a>
{% endblock %}
