{% extends 'base.html.twig' %}

{% block body %}
    {{ title }}
    <div class="container-fluid row">
        <div class="col-4">
            <img src="{{ asset('img/users/' ~ user.userImage) }}" alt="">
        </div>
        <div class="col-8">
            {{ include('cabinet/_form.html.twig') }}
        </div>
    </div>
    <div>
        <a class="btn btn-primary" href="{{ path('home_index') }}">Back to home paige</a>
        <a class="btn btn-primary" href="{{ path('reset_password') }}">Reset password</a>
    </div>
{% endblock body %}

