{% extends 'base.html.twig' %}
{% block title %} {{ title }} {% endblock title %}
{% block body %}
    <h2>{{ title }}: {{ vacancy.vacancyName }}</h2>
    <p>
        {{ vacancy.vacancyDescr }}
    </p>
    <a href="{{ path('vacancy_edit', {id: vacancy.id}) }}" class="card-link">Редактировать</a>
    <a href="{{ path('vacancy') }}">back to list</a>
{% endblock %}
