{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}




{% block body %}
    <h1 class="text-center">НОВОСТИ КОМПАНИИ</h1>
    <div class="row text-center">
        {% for news in pagination %}
            <div class="card col-2">
                <div class="card-body">
                    <h5 class="card-title">{{news.newsName}}</h5>
                    <h5 class="card-title">{{news.newsDate|date('d.m.y')}}</h5>
                    <img class="card-img" src="{{ asset('img/news/') ~ news.newsImage }}" alt="">
                    <p class="card-text">{{ news.newsAnnotation }}</p>
                    <a href="{{ path('news_show', {id: news.id}) }}" class="card-link">Подробнее</a>
                    <a href="{{ path('news_edit', {id: news.id}) }}" class="card-link">Редактировать</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div>
        {% for message in app.flashes('success') %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('news_new') }}">Create new</a>
{% endblock %}
