<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-light bg-light">
                <div class="company">
                        <a href="{{ path('home_index') }}" class="logo text-center">
                            <img src="{{ asset('img/logo.png') }}" class="logo__img" alt="">
                            <span>Торжество вкуса</span>
                        </a>
                </div>
                <div>
                    <ul class="nav navbar-nav list">
                        <li>
                            <a href="{{ path('about_us') }}">О НАС</a>
                        </li>
                        <li>
                            <a href="{{ path('category') }}">НАША ПРОДУКЦИЯ</a>
                        </li>
                        <li>
                            <a href="{{ path('category_elite') }}">НА ЗАКАЗ</a>
                        </li>
                        <li>
                            <a href="{{ path('news_index') }}">НОВОСТИ КОМПАНИИ</a>
                        </li>
                        <li>
                            <a href="{{ path('contacts') }}">КОНТАКТЫ</a>
                        </li>
                        <li>
                            <a href="{{ path('stores') }}">МАГАЗИНЫ</a>
                        </li>
                        <li>
                            <a href="{{ path('review') }}">ОТЗЫВЫ</a>
                        </li>
                    </ul>
                </div>
                <div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <span>
                            <a href="{{ asset('http://localhost:8003/admin/dashboard') }}">Admin Panell</a>
                        </span>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <span>
                            <a href="{{ path('private_cabinet') }}">Личный кабинет</a>
                        </span>
                        <span>
                            <a href="{{ path('app_logout') }}">Logout</a>
                        </span>
                    {% else %}
                        <span>
                            <a href="{{ path('app_login') }}">Login</a>
                        </span>
                        <span>
                            <a href="{{ path('user_registration') }}">Registration</a>
                        </span>
                    {% endif %}
                </div>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>

        </footer>
        {% block javascripts %}
            <script src="{{ asset('js/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
